header {
  min-width: 270px;
  max-width: 600px;
  width: 90vw;
  margin: auto;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 40px;
}

main {
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  box-shadow: 4px 4px 4px 0 hsl(0, 0%, 80%);
  min-width: 270px;
  max-width: 600px;
  width: 90vw;
  margin: auto;
  text-align: left;
  padding: 8px 8px 20px 8px;
}

input, select, textarea {
  margin: 5px 3px 5px 7px;
}

label {
  margin-left: 7px;
}

textarea {
  width: 97%;
  height: 100px;
}

.text {
  font-family: Alatsi, arial;
}

#background {
  background: linear-gradient(
    135deg, hsl(162, 100%, 67%), hsl(221, 100%, 68%)
);
  padding-bottom: 40px;
}

#submit {
  background: hsl(162, 70%, 55%);
  display: block;
  margin: 4vh auto;
  padding: 10px 15px;
  font-size: 1em;
}

#submit:hover {
  animation-name: hover;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

@keyframes hover {
  100% {
    background: hsl(162, 70%, 80%);
  }
}

/*************************
 ***   Media Queries   ***
 *************************/

@media (min-width: 1921px) {
  header, main {
    font-size: 1.2em;
  }
}

@media (max-width: 1920px) {
  header, main {
    font-size: 1.1em;
  }
}

@media (max-width: 1440px) {
  header, main {
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  header, main {
    width: auto;
  }
  textarea {
    width: 95%;
  }
}