
html {
  font-family: Alatsi, arial;
  background: linear-gradient(135deg, hsl(162, 100%, 67%), hsl(221, 100%, 80%));
  line-height: 1.5;
  text-align: center;
}

body {
  box-sizing: border-box;
  min-width: 320px;
  padding: 0 1%;
  margin: 0;
}

header, footer {
  margin: 2em 0;
}

/* The main form area. */
main {
  max-width: 600px;
  margin: auto;
  padding: 0.7em 1em 1em;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 0.8em;
  text-align: left;
}

/* A section contains a single survey question and its inputs. */
section {
  margin-bottom: 2em;
}

section p {
  margin: 0 0 0.3em;
}

input, select, textarea {
  font-family: Alatsi, arial;
  padding: 2px;
}

input, select {
  font-size: 0.85em;
}

input[type="text"], input[type="email"] {
  width: 12em;
}

input[type="number"] {
  width: 5em;
}

input[type="radio"], input[type="checkbox"] {
  margin: 0 0.5em;
}

textarea {
  font-size: 1em;
  box-sizing: border-box;
  width: 100%;
  height: 7em;
  margin-top: 0.2em;
}

button {
  font-family: Alatsi, arial;
  font-size: 1em;
  display: block;
  margin: 3em auto 2em;
  padding: 0.6em 2em;
  background-color: hsl(197deg 71% 80%);
  border: 0.2em hsl(197deg 71% 85%) outset;
  border-radius: 0.4em;
}

button:hover {
  background-color: hsl(195deg 53% 86%);
  border-color: hsl(195deg 53% 91%);
}

button:active {
  border-style: inset;
}

/*************************
 ***   Media Queries   ***
 *************************/

@media (min-width: 1440px) {
  html {
    font-size: 1.1em;
  }

  input, select, textarea {
    padding: 3px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 1.2em;
  }
}
