
body {
  font-family: Quantico, sans-serif;
  color: black;
  background-color: ghostwhite;
  box-sizing: border-box;
  min-width: 320px;
  margin: 0;
  padding: 0 1%;
  text-align: center;
}

h1 {
  font-size: 3em;
}

header p {
  font-size: 1.5em;
}

/* The container of the <svg> element. */
main#svg-container {
  position: relative;
  max-width: 1400px;
  margin: auto;
}

/* Treemap tiles. */
rect.tile {
  stroke: black;
}

/* Treemap tile labels. */
tspan.tile-label {
  pointer-events: none;
}

/* Legend tiles. */
rect.legend-item {
  stroke: black;
}

/* Legend tile labels. */
text.legend-label {
  font-size: 2em;
}

/* The tooltip container. */
div#tooltip {
  position: absolute;
  max-width: 25%;
  padding: 0.8em;
  background-color: aliceblue;
  border: 0.1em solid darkslategray;
  box-shadow: 0px 0px 0.3em 0.1em darkslategray;
  pointer-events: none;
}

/* Overlay for highlighting the selected tile. */
rect#overlay {
  fill: aliceblue;
  fill-opacity: 0.3;
  stroke: black;
  pointer-events: none;
}

/***   Media Queries   ***/

@media (max-width: 600px) {
  h1 {
    font-size: 2.5em;
  }

  header p {
    font-size: 1.2em;
  }

  div#tooltip {
    font-size: 0.9em;
    padding: 0.6em;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2em;
  }

  header p {
    font-size: 1em;
  }

  div#tooltip {
    font-size: 0.8em;
    padding: 0.5em;
  }
}

@media (max-width: 425px) {
  div#tooltip {
    font-size: 0.7em;
    padding: 0.4em;
  }
}

@media (max-width: 350px) {
  div#tooltip {
    font-size: 0.6em;
  }
}
