
body {
  font-family: Quantico, sans-serif;
  color: black;
  background-color: ghostwhite;
  box-sizing: border-box;
  min-width: 320px;
  margin: 0;
  padding: 0 2%;
  text-align: center;
}

h1 {
  font-size: 3em;
}

header p {
  font-size: 1.5em;
}

/* The container of the <svg> element. */
main#svg-container {
  position: relative;
  margin: auto;
}

/* Fix the <svg> font-size to 16px (i.e. 16 user units) for correct
   user unit sizes inside the <svg> viewBox. The viewBox will scale
   correctly when resizing. */
svg {
  font-size: 16px;
}

/* Treemap tiles. */
rect.tile {
  stroke: black;
}

rect.tile + text {
  font-size: 1.2em;
}

/* Treemap tile labels. */
tspan.tile-label {
  pointer-events: none;
}

/* Legend tiles. */
rect.legend-item {
  stroke: black;
}

/* Legend tile labels. */
text.legend-label {
  font-size: 2em;
}

/* The tooltip container. */
div#tooltip {
  position: absolute;
  right: -1%;
  transform: translate(0%, -100%);
  max-width: max-content;
  padding: 0.8em;
  background-color: aliceblue;
  border: 0.1em solid darkslategray;
  box-shadow: 0px 0px 0.3em 0.1em darkslategray;
  pointer-events: none;
  overflow-wrap: break-word;
}

/* Overlay for highlighting the selected tile. */
rect#overlay {
  fill: aliceblue;
  fill-opacity: 0.3;
  stroke: black;
  pointer-events: none;
}

/* Keyboard focus for the link. */
:focus {
  outline: medium dashed black;
}

/***   Media Queries   ***/

@media (min-width: 80em) {
  html {
    font-size: 1.2em;
  }
}

@media (min-width: 100em) {
  html {
    font-size: 1.4em;
  }
}

@media (min-width: 120em) {
  html {
    font-size: 1.6em;
  }
}

@media (min-width: 140em) {
  html {
    font-size: 1.8em;
  }
}

@media (min-width: 160em) {
  html {
    font-size: 2em;
  }
}

@media (max-width: 64em) {
  div#tooltip {
    font-size: 0.9em;
    padding: 0.6em;
  }
}

@media (max-width: 50em) {
  div#tooltip {
    font-size: 0.8em;
    padding: 0.5em;
  }
}

@media (max-width: 43em) {
  div#tooltip {
    font-size: 0.7em;
    padding: 0.4em;
  }
}

@media (max-width: 37em) {
  div#tooltip {
    font-size: 0.6em;
  }

  h1 {
    font-size: 2.5em;
  }

  header p {
    font-size: 1.2em;
  }
}

@media (max-width: 32em) {
  div#tooltip {
    font-size: 0.5em;
  }

  h1 {
    font-size: 2em;
  }

  header p {
    font-size: 1em;
  }
}
