
:root {
  --nav-color: hsl(25deg 100% 20%);
  --nav-background: hsl(30deg 70% 66%);
}

html {
  font-family: Berkshire Swash, serif;
  color: black;
  background: linear-gradient(135deg, #ffbd7f, #fff36a);
  text-align: center;
}

body {
  min-width: 320px;
  margin: 0;
}

/* The top nav bar and nav links. */
nav {
  font-size: 1.1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--nav-background);
  border-bottom: var(--nav-color) 1px solid;
}

nav a {
  color: var(--nav-color);
  padding: 1em 2em;
  border-radius: 0.4em;
}

nav a:hover {
  background-color: hsla(29, 100%, 40%, 0.25);
}

/* Contains the <h1> title and the logo images. */
header {
  font-family: Pacifico, serif;
  font-size: 1.6em;
  padding-top: 6em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img.logo {
  max-width: 6em;
}

/* Subtitle and anchor for the "#about" section. */
#about {
  font-family: Pacifico, serif;
  font-size: 1.6em;
}

main {
  font-size: 1rem;
  max-width: 680px;
  margin: 6em auto;
  padding: 2em;
  background-color: hsla(34, 78%, 91%, 35%);
  border-radius: 0.6em;
  line-height: 1.5;
}

ul {
  padding-left: 1em;
  margin: 0;
  text-align: justify;
}

iframe#video {
  display: block;
  width: 100%;
  margin: 1em auto;
}

/* Input elements for email sign up. */
label {
  display: block;
}

input {
  font-family: Berkshire Swash, serif;
  font-size: 1em;
  display: block;
  margin: 2em auto 0;
}

input[type="email"] {
  padding: 3px;
  width: 15em;
}

input[type="submit"] {
  padding: 0.5em 1.6em;
  color: var(--nav-color);
  background-color: hsl(30deg 70% 72%);
  border: var(--nav-color) 1px solid;
  border-radius: 0.4em;
}

input[type="submit"]:hover {
  background-color: hsla(29, 100%, 50%, 25%);
}

footer {
  font-size: 1rem;
  margin: 2em 0;
}

/*************************
 ***   Media Queries   ***
 *************************/

@media (min-width: 1920px) {
  html {
    font-size: 1.2em;
  }
}

@media (max-width: 610px) {
  header {
    font-size: 1.3em;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 0.9em;
  }
}
