
/* Variables. */
$button-gap: 0.7em;
$button-border-width: 0.3em;
$display-top-offset: 0.45em;
$display-bot-offset: 0.5em;
$display-right-offset: 2%;

html {
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  color: black;
  background-color: hsl(180, 30%, 81%);
  max-width: 500px;
  min-width: 320px;
  margin: auto;
  text-align: center;
}

body {
  margin: 0;
  padding: 0 2%;
}

header, footer {
  margin: 2em 0;
  line-height: 1.4;
}

/* The main calculator app. */
main {
  font-size: 1.4em;
  box-shadow: 3px 3px 4px 0px black;
}

/* The keypad grid. */
section#button-grid {
  display: grid;
  grid-template-areas:
    "add subtract multiply divide"
    "seven eight nine equals"
    "four five six equals"
    "one two three equals"
    "decimal zero clear clear";
  grid-gap: $button-gap;
  padding: $button-gap;
  background-color: hsl(0, 0%, 20%);
  border: $button-border-width outset hsl(0, 0%, 50%);
}

button {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-size: 1em;
  padding: 0.4em;
  border-width: $button-border-width;
  border-style: outset;
}

/* Create CSS rules for each number button. */
$num-buttons: zero, one, two, three, four, five,
  six, seven, eight, nine;
@each $button in $num-buttons {
  ##{$button} {
    grid-area: $button;
    background-color: hsl(207, 44%, 70%);
    border-color: hsl(207, 44%, 55%);
  }

  ##{$button}:hover {
    background-color: hsl(207, 44%, 83%);
    border-color: hsl(207, 44%, 68%);
  }
}

/* Create CSS rules for the other buttons. */
$other-buttons: add, subtract, multiply, divide,
  decimal, equals;
@each $button in $other-buttons {
  ##{$button} {
    grid-area: $button;
    background-color: hsl(177, 70%, 42%);
    border-color: hsl(177, 70%, 30%);
  }

  ##{$button}:hover {
    background-color: hsl(177, 70%, 55%);
    border-color: hsl(177, 70%, 43%);
  }
}

/* The clear button. */
button#clear {
  grid-area: clear;
  background-color: hsl(0, 53%, 65%);
  border-color: hsl(0, 53%, 40%);
}

button#clear:hover {
  background-color: hsl(0, 53%, 78%);
  border-color: hsl(0, 53%, 53%);
}

/* The section housing both displays. */
section#display-section {
  position: relative;
  height: 4em;
  background-color: black;
  border: 0.4em outset hsl(0, 0%, 30%);

  /* The expression and input displays. */
  div {
    position: absolute;
    right: $display-right-offset;
    width: 100% - (2 * $display-right-offset);
    height: 1.1em;
    overflow: hidden;
    text-align: right;
  }
}

/* The expression display. */
div#expr {
  color: cyan;
  top: $display-top-offset;
}

/* The input display. */
div#display {
  color: white;
  bottom: $display-bot-offset;
}

/*************************
 ***   Media Queries   ***
 *************************/

@media (max-width: 400px) {
  html {
    font-size: 14px;
  }
}
