
$button-color: hsl(34, 70%, 89%);
$button-color-hover: hsl(34, 78%, 94%);

body {
  font-family: 'Alex Brush', cursive;
  font-size: 16px;
  color: $button-color;
  background-color: darkslategray;
  min-width: 320px;
  max-width: 800px;
  margin: 2em auto;
  text-align: center;
}

main {
  margin: 0.5em;
}

h1 {
  font-family: 'Alex Brush', cursive;
  font-size: 2.5em;
  color: snow;
}

/* The section containing the quote text and author. */
section {
  font-family: 'Italianno', cursive;
  font-size: 2em;
  color: black;
  padding: 0.5em;
  background-color: floralwhite;
  border: 3px solid white;
  border-radius: 0.3em;
}

/* The quote text. */
p#text {
  margin-top: 0;
  text-align: left;
}

/* The quote author. */
p#author {
  margin-bottom: 0;
  text-align: right;
}

button {
  font-family: 'Great Vibes', cursive;
  font-size: 1.7em;
  display: block;
  padding: 0.5em 1em;
  margin: 3em auto 4em;
  background-color: $button-color;
  border: 5px white outset;
  border-radius: 0.4em;
}

button:hover {
  background-color: $button-color-hover;
}

button:active {
  border-style: inset;
}

footer {
  font-size: 1.7em;
}

a {
	color: hsl(204deg 64% 75%);
}

a:visited {
	color: hsl(270deg 50% 85%);
}

a#tweet-quote {
  font-size: 2em;
  color: $button-color;
  display: block;
  width: min-content;
  height: 0.95em;
  margin: 1em auto;
}

a#tweet-quote:hover {
  color: $button-color-hover;
}

/*************************
 ***   Media Queries   ***
 *************************/

@media (max-width: 350px) {
  body {
    font-size: 14px;
  }
}
