
$button-color: hsl(34, 70%, 89%);
$button-color-hover: hsl(34, 78%, 94%);

body {
  font-family: 'Alex Brush', cursive;
  color: $button-color;
  background-color: darkslategray;
  min-width: 320px;
  max-width: 50em;
  margin: 2em auto;
  text-align: center;
}

main {
  margin: 0.5em;
}

h1 {
  font-family: 'Alex Brush', cursive;
  font-size: 2.5em;
  color: snow;
}

/* The section containing the quote text and author. */
section {
  font-family: 'Italianno', cursive;
  font-size: 2em;
  color: black;
  padding: 0.5em;
  background-color: floralwhite;
  border: 3px solid white;
  border-radius: 0.3em;
}

/* The quote text. */
p#text {
  margin-top: 0;
  text-align: left;
}

/* The quote author. */
p#author {
  margin-bottom: 0;
  text-align: right;
}

button {
  font-family: 'Great Vibes', cursive;
  font-size: 1.7em;
  display: block;
  padding: 0.5em 1em;
  margin: 3em auto 4em;
  background-color: $button-color;
  border: 5px white outset;
  border-radius: 0.4em;
}

button:hover {
  background-color: $button-color-hover;
}

button:active {
  border-style: inset;
}

footer {
  font-size: 1.7em;
}

a {
	color: hsl(204deg 64% 75%);
}

a:visited {
	color: hsl(270deg 50% 85%);
}

a#tweet-quote {
  font-size: 2em;
  color: $button-color;
  display: block;
  width: min-content;
  height: 0.95em;
  margin: 1em auto;
}

a#tweet-quote:hover {
  color: $button-color-hover;
}

/* Keyboard and mouse focus. */
:focus {
  outline: thick dashed white;
  outline-offset: 4px;
}

/* Screen-reader only, visually hidden. */
.screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*************************
 ***   Media Queries   ***
 *************************/

 @media (min-width: 80em) {
   html {
     font-size: 1.2em;
   }
 }

 @media (min-width: 100em) {
   html {
     font-size: 1.4em;
   }
 }

 @media (min-width: 120em) {
   html {
     font-size: 1.6em;
   }
 }

 @media (min-width: 140em) {
   html {
     font-size: 1.8em;
   }
 }

 @media (min-width: 160em) {
   html {
     font-size: 2em;
   }
 }
