
/* Variables. */
:root {
  --nav-width: 15em;
  --main-border: azure 0.5em solid;
  --nav-link-border: azure 1px solid;
}

html {
  font-family: Baskervville, sans-serif;
  color: ghostwhite;
  text-align: justify;
}

body {
  min-width: 320px;
  margin: 0;
}

h1 {
  font-family: Anton, sans-serif;
  text-align: center;
}

h2 {
  font-family: Fira Sans, sans-serif;
}

nav {
  font-family: Fira Sans, sans-serif;
  position: fixed;
  box-sizing: border-box;
  width: var(--nav-width);
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: hsl(19, 56%, 20%);
  border: var(--main-border);
  overflow-y: auto;
}

nav header {
  border-bottom: var(--nav-link-border);
}

a.nav-link {
  color: snow;
  background-color: hsl(19, 56%, 30%);
  display: block;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  border-bottom: var(--nav-link-border);
}

a.nav-link:hover, a.nav-link:focus {
  background-color: hsl(19, 56%, 40%);
}

a.nav-link:visited {
  color: snow;
}

main {
  margin-left: var(--nav-width);
  padding: 0 1em;
  background-color: hsl(0, 100%, 8%);
  border: var(--main-border);
  border-left: none;
  overflow: hidden;
}

section {
  font-size: 1rem;
}

ul, ol {
  padding-left: 2em;
}

.code {
  width: min-content;
  margin-left: 1em;
  padding-right: 1em;
  color: darkslategray;
  background-color: whitesmoke;
  border-radius: 0.4em;
}

a {
	color: hsl(204deg 64% 75%);
}

a:visited {
	color: hsl(270deg 50% 85%);
}

/*************************
 ***   Media Queries   ***
 *************************/

/* Min width. */
@media (min-width: 1440px) {
  html {
    font-size: 1.1em;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 1.2em;
  }
}

/* Max width. */
@media (max-width: 768px) {
  body {
    font-size: 0.9em;
  }
}

@media (max-width: 600px) {
  :root {
    --nav-width: 14em;
  }

  body {
    font-size: 0.8em;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 0.9em;
  }

  .code {
    font-size: 0.8em;
  }
}

@media (max-width: 430px) {
  body {
    font-size: 0.7em;
  }
}

@media (max-width: 370px) {
  .code {
    font-size: 0.7em;
  }
}

@media (max-width: 345px) {
  html {
    font-size: 0.8em;
  }
}
