
/* Variables. */
:root {
  --nav-width: 15em;
  --main-border: azure 0.5em solid;
  --nav-link-border: azure 1px solid;
}

html {
  font-family: Baskervville, sans-serif;
  color: ghostwhite;
  text-align: justify;
}

body {
  min-width: 320px;
  margin: 0;
}

h1 {
  font-family: Anton, sans-serif;
  font-size: 1.5em;
  text-align: center;
}

h2 {
  font-family: Fira Sans, sans-serif;
}

nav {
  font-family: Fira Sans, sans-serif;
  position: fixed;
  box-sizing: border-box;
  width: var(--nav-width);
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: hsl(19, 56%, 20%);
  border: var(--main-border);
  overflow-y: auto;
}

nav header {
  border-bottom: var(--nav-link-border);
}

a.nav-link {
  color: snow;
  background-color: hsl(19, 56%, 30%);
  display: block;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  border-bottom: var(--nav-link-border);
}

a.nav-link:hover, a.nav-link:focus {
  background-color: hsl(19, 56%, 40%);
}

a.nav-link:visited {
  color: snow;
}

/* Keyboard and mouse focus. */
:focus {
  z-index: 1;
  outline: medium dotted white;
}

/* Remove mouse focus if :focus-visible is supported. */
:focus:not(:focus-visible) {
  outline: none;
}

main {
  margin-left: var(--nav-width);
  padding: 0 1em;
  background-color: hsl(0, 100%, 8%);
  border: var(--main-border);
  border-left: none;
  overflow: hidden;
}

section {
  font-size: 1rem;
}

ul, ol {
  padding-left: 2em;
}

ul ul {
  padding-left: 1em;
}

.code {
  max-width: min-content;
  margin-left: 1em;
  padding-right: 1em;
  color: darkslategray;
  background-color: whitesmoke;
  border-radius: 0.4em;
  overflow-x: auto;
}

a {
	color: hsl(204deg 64% 75%);
}

a:visited {
	color: hsl(270deg 50% 85%);
}

/*************************
 ***   Media Queries   ***
 *************************/

/* Increase font size for larger viewports. */
 @media (min-width: 80em) {
   html {
     font-size: 1.2em;
   }
 }

 @media (min-width: 100em) {
   html {
     font-size: 1.4em;
   }
 }

 @media (min-width: 120em) {
   html {
     font-size: 1.6em;
   }
 }

 @media (min-width: 140em) {
   html {
     font-size: 1.8em;
   }
 }

 @media (min-width: 160em) {
   html {
     font-size: 2em;
   }
 }

/* Reduce the nav bar for smaller viewports. */
@media (max-width: 48em) {
  :root {
    --nav-width: 14em;
  }
}

@media (max-width: 40em) {
  :root {
    --nav-width: 9em;
  }

  ul, ol {
    padding-left: 1.5em;
  }

  ul ul {
    padding-left: 0.5em;
  }
}

@media (max-width: 30em) {
  body {
    font-size: 0.9em;
  }

  :root {
    --nav-width: 8em;
  }

  h1 {
    font-size: 1.3em;
  }
}

@media (max-width: 25em) {
  body {
    font-size: 0.8em;
  }
}
