#background {
  background-color: #c0dddd;
  border: 1px solid #c0dddd;
  min-height: 97vh;
}

/* the main app */
#main {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.4em;
  max-width: 500px;
  min-width: 280px;
  width: 95%;
  margin: 15vh auto;
  box-shadow: 3px 3px 4px 0px black;
}

/* generic button class */
.button {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-size: 1em;
  padding: 6px;
}

/* the keypad grid */
#button-grid {
  display: grid;
  grid-template-areas: "add subtract multiply divide" "seven eight nine equals" "four five six equals" "one two three equals" "decimal zero clear clear";
  grid-gap: 13px;
  padding: 13px;
  background-color: #333333;
  border: 5px outset gray;
}

/* create a CSS rule for each number button */
#zero {
  grid-area: zero;
  background-color: #91b6d4;
  border: 5px outset #5a91bf;
}

#zero:hover {
  background-color: #c1d6e7;
  border: 5px outset #89b1d1;
}

#zero:active {
  border-style: inset;
}

#one {
  grid-area: one;
  background-color: #91b6d4;
  border: 5px outset #5a91bf;
}

#one:hover {
  background-color: #c1d6e7;
  border: 5px outset #89b1d1;
}

#one:active {
  border-style: inset;
}

#two {
  grid-area: two;
  background-color: #91b6d4;
  border: 5px outset #5a91bf;
}

#two:hover {
  background-color: #c1d6e7;
  border: 5px outset #89b1d1;
}

#two:active {
  border-style: inset;
}

#three {
  grid-area: three;
  background-color: #91b6d4;
  border: 5px outset #5a91bf;
}

#three:hover {
  background-color: #c1d6e7;
  border: 5px outset #89b1d1;
}

#three:active {
  border-style: inset;
}

#four {
  grid-area: four;
  background-color: #91b6d4;
  border: 5px outset #5a91bf;
}

#four:hover {
  background-color: #c1d6e7;
  border: 5px outset #89b1d1;
}

#four:active {
  border-style: inset;
}

#five {
  grid-area: five;
  background-color: #91b6d4;
  border: 5px outset #5a91bf;
}

#five:hover {
  background-color: #c1d6e7;
  border: 5px outset #89b1d1;
}

#five:active {
  border-style: inset;
}

#six {
  grid-area: six;
  background-color: #91b6d4;
  border: 5px outset #5a91bf;
}

#six:hover {
  background-color: #c1d6e7;
  border: 5px outset #89b1d1;
}

#six:active {
  border-style: inset;
}

#seven {
  grid-area: seven;
  background-color: #91b6d4;
  border: 5px outset #5a91bf;
}

#seven:hover {
  background-color: #c1d6e7;
  border: 5px outset #89b1d1;
}

#seven:active {
  border-style: inset;
}

#eight {
  grid-area: eight;
  background-color: #91b6d4;
  border: 5px outset #5a91bf;
}

#eight:hover {
  background-color: #c1d6e7;
  border: 5px outset #89b1d1;
}

#eight:active {
  border-style: inset;
}

#nine {
  grid-area: nine;
  background-color: #91b6d4;
  border: 5px outset #5a91bf;
}

#nine:hover {
  background-color: #c1d6e7;
  border: 5px outset #89b1d1;
}

#nine:active {
  border-style: inset;
}

/* create a CSS rule for other buttons */
#add {
  grid-area: add;
  background-color: #20b6af;
  border: 5px outset #17827d;
}

#add:hover {
  background-color: #3cddd5;
  border: 5px outset #21bab3;
}

#add:active {
  border-style: inset;
}

#subtract {
  grid-area: subtract;
  background-color: #20b6af;
  border: 5px outset #17827d;
}

#subtract:hover {
  background-color: #3cddd5;
  border: 5px outset #21bab3;
}

#subtract:active {
  border-style: inset;
}

#multiply {
  grid-area: multiply;
  background-color: #20b6af;
  border: 5px outset #17827d;
}

#multiply:hover {
  background-color: #3cddd5;
  border: 5px outset #21bab3;
}

#multiply:active {
  border-style: inset;
}

#divide {
  grid-area: divide;
  background-color: #20b6af;
  border: 5px outset #17827d;
}

#divide:hover {
  background-color: #3cddd5;
  border: 5px outset #21bab3;
}

#divide:active {
  border-style: inset;
}

#decimal {
  grid-area: decimal;
  background-color: #20b6af;
  border: 5px outset #17827d;
}

#decimal:hover {
  background-color: #3cddd5;
  border: 5px outset #21bab3;
}

#decimal:active {
  border-style: inset;
}

#equals {
  grid-area: equals;
  background-color: #20b6af;
  border: 5px outset #17827d;
}

#equals:hover {
  background-color: #3cddd5;
  border: 5px outset #21bab3;
}

#equals:active {
  border-style: inset;
}

/* the clear button */
#clear {
  grid-area: clear;
  background-color: #d57676;
  border: 5px outset #9c3030;
}

#clear:hover {
  background-color: #e5a9a9;
  border: 5px outset #c74848;
}

#clear:active {
  border-style: inset;
}

/* the section housing both displays */
#display-section {
  position: relative;
  height: 80px;
  background-color: black;
  border: 7px outset #4d4d4d;
}

/* the expression display */
#expr {
  color: cyan;
  text-align: right;
  margin-right: 11px;
  margin-top: 11px;
}

/* the input display */
#display {
  color: white;
  position: absolute;
  bottom: 0px;
  right: 11px;
  margin-bottom: 11px;
}

/*************************
 ***   Media Queries   ***
 *************************/
@media (min-width: 1921px) {
  #main {
    font-size: 1.4em;
    max-width: 500px;
  }
}
@media (max-width: 1920px) {
  #main {
    font-size: 1.1em;
    max-width: 400px;
  }
}