
body {
  font-family: 'Noto Serif', serif;
  color: floralwhite;
  background-color: hsl(0, 100%, 10%);
  min-width: 320px;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 3em;
}

a {
	color: hsl(204deg 64% 75%);
}

a:visited {
	color: hsl(270deg 50% 85%);
}

/* The container holding the <svg> element. */
main#svg-container {
  position: relative;
  max-width: 1400px;
  margin: auto;
}

/* The counties on the plot. */
.county {
  stroke: floralwhite;
}

/* The state borders on the plot. */
.state {
  stroke: hsl(0, 100%, 10%);
  fill: transparent;
  pointer-events: none;
}

/* The legend and its axis. */
#legend {
  font-size: 1.5em;
  fill: floralwhite;
}

#legend-axis {
  font-family: 'Noto Serif', serif;
  font-size: 1em;
  stroke-width: 2;
}

/* The tooltip. */
#tooltip {
  font-size: 1.3em;
  padding: 0.7em;
  position: absolute;
  background-color: hsl(0, 100%, 25%);
  border: 2px solid hsl(0, 100%, 10%);
  box-shadow: 0px 0px 0.4em 0.2em hsl(0, 0%, 30%);
  pointer-events: none;
}

/* The county overlay when hovered. */
#overlay {
  stroke: hsl(0, 100%, 35%);
  stroke-width: 2;
  fill: transparent;
  pointer-events: none;
}

/*************************/
/***   Media Queries   ***/
/*************************/

@media (max-width: 1024px) {
  #tooltip {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }

  #tooltip {
    font-size: 0.8em;
    padding: 0.6em;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2em;
  }

  #tooltip {
    font-size: 0.7em;
    padding: 0.5em;
  }

  footer {
    font-size: 0.9em;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5em;
  }

  #tooltip {
    font-size: 0.6em;
  }

  footer {
    font-size: 0.8em;
  }
}
