
body {
  font-family: 'Fjalla One', sans-serif;
  color: honeydew;
  background-color: black;
  box-sizing: border-box;
  min-width: 320px;
  padding: 0 1%;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 3em;
}

header p {
  font-size: 1.4em;
}

a {
	color: hsl(204deg 64% 75%);
}

a:visited {
	color: hsl(270deg 50% 85%);
}

/* The container housing the <svg> canvas. */
main#svg-container {
  position: relative;
  max-width: 1000px;
  margin: 1.5em auto;
  background-color: hsl(120, 100%, 10%);
  border: 3px solid honeydew;
  border-radius: 1.25em;
}

svg, footer {
  font-size: 1rem;
}

/* Every plotted data circle. */
.dot {
  stroke-width: 2;
}

/* The x and y axes and their labels. */
#x-axis, #y-axis {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.8em;
  stroke-width: 2;
  pointer-events: none;
}

#x-axis-label, #y-axis-label {
  font-size: 2.6em;
  fill: honeydew;
}

/* The legend box in the plot. */
#legend {
  font-size: 1.1em;
  position: absolute;
  top: 0.8em;
  left: 40%;
  width: 11em;
  display: grid;
  grid-template-columns: 1em 1fr;
  grid-row-gap: 0.5em;
  grid-column-gap: 0.3em;
  padding: 0.5em;
  color: white;
  background-color: hsl(120, 25%, 30%);
  border: 2px solid honeydew;
  border-radius: 0.4em;
  text-align: left;
}

/* The color tile in the legend box. */
.legend-tile {
  border-style: solid;
  border-width: 2px;
  border-radius: 0.2em;
}

/* The tooltip box in the plot. */
#tooltip {
  position: absolute;
  padding: 1em;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.65em;
  line-height: 1.6em;
  text-align: left;
  pointer-events: none;
}

/* Overlay for highlighting selected circle. */
#overlay {
  pointer-events: none;
}

/*************************/
/***   Media Queries   ***/
/*************************/

@media (max-width: 900px) {
  #legend {
    font-size: 1em;
    top: 0.7em;
  }

  #tooltip {
    font-size: 0.9em;
    padding: 0.8em;
  }
}

@media (max-width: 768px) {
  #legend {
    font-size: 0.9em;
    top: 0.6em;
  }

  #tooltip {
    font-size: 0.8em;
    padding: 0.7em;
  }
}

@media (max-width: 670px) {
  #legend {
    font-size: 0.8em;
    top: 0.5em;
  }

  #tooltip {
    font-size: 0.7em;
    padding: 0.6em;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 0.9em;
  }
}

@media (max-width: 560px) {
  body {
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.5em;
  }

  #legend {
    font-size: 0.7em;
    top: 0.4em;
  }

  #tooltip {
    font-size: 0.6em;
    padding: 0.5em;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 2em;
  }

  #legend {
    font-size: 0.6em;
  }

  #tooltip {
    font-size: 0.5em;
  }

  footer {
    font-size: 0.9rem;
  }
}

@media (max-width: 350px) {
  #legend {
    font-size: 0.5em;
  }

  #tooltip {
    font-size: 0.4em;
  }
}
