
body {
  font-family: 'Acme', sans-serif;
  color: midnightblue;
  background-color: snow;
  box-sizing: border-box;
  min-width: 320px;
  padding: 0 1%;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 3em;
}

header p {
  font-size: 1.3em;
}

/* The container holding the <svg> canvas. */
main#svg-container {
  position: relative;
  max-width: 1200px;
  margin: 2em auto;
  background-color: lightcyan;
  border: 1px solid darkslategray;
  box-shadow: 0px 0px 0.6em 0.3em darkslategray;
}

svg, footer {
  font-size: 1rem;
}

/* The axes and their labels. */
#x-axis, #y-axis {
  font-family: 'Acme', sans-serif;
  font-size: 1.5em;
}

#x-axis-label, #y-axis-label {
  font-size: 2.2em;
  fill: midnightblue;
}

/* The plot legend. */
#legend {
  font-size: 1.5em;
  fill: midnightblue;
}

#legend-axis {
  font-family: 'Acme', sans-serif;
  font-size: 1em;
}

/* The tooltip container. */
#tooltip {
  position: absolute;
  padding: 0.4em 0.5em;
  border: 1px solid slategray;
  box-shadow: 0px 0px 0.25em 0.125em slategray;
  line-height: 1.5em;
  pointer-events: none;
}

/* The cell overlay for highlighting. */
#overlay {
  pointer-events: none;
}

/*************************/
/***   Media Queries   ***/
/*************************/

@media (max-width: 1024px) {
  #tooltip {
    padding: 0.3em 0.5em;
    line-height: 1.4em;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }

  #tooltip {
    font-size: 0.9em;
  }
}

@media (max-width: 700px) {
  #tooltip {
    font-size: 0.8em;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2em;
  }

  #tooltip {
    font-size: 0.7em;
  }
}

@media (max-width: 540px) {
  body {
    font-size: 0.9em;
  }

  #tooltip {
    line-height: 1.3em;
  }
}

@media (max-width: 460px) {
  body {
    font-size: 0.8em;
  }
}

@media (max-width: 400px) {
  #tooltip {
    font-size: 0.6em;
  }
}

@media (max-width: 350px) {
  #tooltip {
    padding: 0.2em 0.4em;
  }

  footer {
    font-size: 0.9rem;
  }
}
