
/* Variables. */
:root {
  --heading-color: darkslategray;
  --nav-background: aliceblue;
  --background-lightblue: hsl(200, 50%, 88%);
  --background-blue: hsl(215, 60%, 88%);
  --background-purple: hsl(240, 50%, 88%);
  --border: 1px solid slategray;
  --section-side-padding: 5%;
  --section-desc-width: 90%;
}

html {
  font-family: Russo One, arial;
  color: black;
  background: repeating-linear-gradient(160deg,
    var(--background-lightblue) 0vh,
    var(--background-blue) 100vh,
    var(--background-purple) 200vh,
    var(--background-blue) 300vh,
    var(--background-lightblue) 400vh);
  text-align: justify;
}

body {
  margin: 0;
  min-width: 320px;
}

/* The navbar at the top. */
nav {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--nav-background);
  border: var(--border);
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

/* Individual elements in the navbar. */
a.navlink {
  display: block;
  text-decoration: none;
  color: var(--heading-color);
  background-color: var(--nav-background);
  padding: 1.2em;
}

a.navlink:hover,
a.navlink:focus {
  background-color: hsl(208, 100%, 91%);
}

/* Keyboard focus for all elements. */
:focus {
  z-index: 1;
  outline: medium dotted black;
}

/* Remove mouse focus if :focus-visible is supported. */
/* :focus:not(:focus-visible) {
  outline: none;
} */

/* Polyfill for :focus-visible. */
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

/* The <div> containing the dropdown menu and button. */
.drop-down-container {
  position: relative;
}

/* The <div> containing the actual dropdown menu. */
.drop-down-menu {
  position: absolute;
  width: 100%;
  text-align: start;
  border-left: var(--border);
  border-bottom: var(--border);
  border-right: var(--border);
  display: none;
}

/* Toggle dropdown menu display on hover and keyboard focus. */
.drop-down-container:hover .drop-down-menu,
.drop-down-container:focus-within .drop-down-menu {
  display: block;
}

/* The main content including page header and sections. */
main {
  border: var(--border);
}

/* The page header. */
header {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 30vh var(--section-side-padding) 0;
}

/* Header subtitle. */
header p {
  font-size: 1.2em;
  text-align: center;
}

h1, h2, h3 {
  color: var(--heading-color);
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.1em;
  width: var(--section-desc-width);
  margin: 0.83em auto;
}

h3 {
  font-size: 1.3em;
}

hr {
  border: none;
  border-radius: 50%;
  background-color: var(--heading-color);
}

/* <hr> under the <h1> heading. */
hr.h1-hr {
  width: 90%;
  max-width: 50em;
  height: 0.25em;
}

/* <hr> under an <h2> heading. */
hr.h2-hr {
  width: 80%;
  max-width: 29em;
  height: 0.2em;
}

/* <hr> under an <h3> heading. */
hr.h3-hr {
  width: 80%;
  max-width: 24em;
  height: 0.15em;
}

/* Each main section. */
section {
  padding: 8em var(--section-side-padding) 0;
}

/* Description at the start of each section. */
div.section-desc {
  width: var(--section-desc-width);
  max-width: 50em;
  margin: auto;
}

/* Grid showing different projects. */
div.projects-grid {
  --row-gap: 6em;

  max-width: 57em;
  margin: var(--row-gap) auto 2em;
  display: grid;
  grid-template-columns: 64% 28%;
  grid-column-gap: 8%;
  grid-row-gap: var(--row-gap);
}

/* Grid tile containing the project information. */
div.info-tile ul {
  padding-left: 1em;
}

div.info-tile ul li {
  margin: 1em 0;
}

/* Grid tile containing the project link. */
div.link-tile {
  align-self: center;
}

/* The <a> element in a link tile. */
div.link-tile a {
  --background: black;

  display: block;
  color: lightblue;
  background-color: var(--background);
  box-shadow: 0.2em 0.2em 0.2em 0 slategray;
  border-radius: 3%;
}

div.link-tile a:hover,
div.link-tile a:focus {
  background-color: hsl(0, 0%, 25%);
}

/* Remove mouse focus if :focus-visible is supported. */
/* div.link-tile a:focus:not(:focus-visible):not(:hover) {
  background-color: var(--background);
} */

/* Polyfill for :focus-visible. */
.js-focus-visible div.link-tile a:focus:not(.focus-visible):not(:hover) {
  background-color: var(--background);
}

/* The <img> element in a link tile. */
img.link-tile-image {
  width: 80%;
  display: block;
  padding: 10% 10% 0;
}

/* The <p> element in a link tile. */
p.link-tile-text {
  text-align: center;
  margin: 0 10%;
  padding: 8% 0 10%;
  overflow-x: hidden;
}

/* The contact section. */
section#contact {
  margin-bottom: 14em;
  text-align: center;
}

/* The page footer. */
footer {
  background-color: var(--nav-background);
  border-top: var(--border);
  padding: 0 var(--section-side-padding) 1em;
  text-align: center;
}

/* Flex container for the footer links. */
div#footer-links {
  font-size: 2em;
  max-width: 12.5em;
  padding: 1em 0;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

a.footer-link {
  --color: black;
  color: var(--color);
}

a.footer-link:hover,
a.footer-link:focus {
  color: gray;
}

/* Remove mouse focus if :focus-visible is supported. */
/* a.footer-link:focus:not(:focus-visible):not(:hover) {
  color: var(--color);
} */

/* Polyfill for :focus-visible. */
.js-focus-visible a.footer-link:focus:not(.focus-visible):not(:hover) {
  color: var(--color);
}

/*************************
 ***   Media Queries   ***
 *************************/

@media (min-width: 80em) {
  html {
    font-size: 1.2em;
  }
}

@media (min-width: 100em) {
  html {
    font-size: 1.4em;
  }
}

@media (min-width: 120em) {
  html {
    font-size: 1.6em;
  }
}

@media (min-width: 140em) {
  html {
    font-size: 1.8em;
  }
}

@media (min-width: 160em) {
  html {
    font-size: 2em;
  }
}

@media (max-width: 33em) {
  /* Single column layout. */
  div.projects-grid {
    grid-template-columns: 100%;
    grid-row-gap: 3em;
  }

  div.link-tile a {
    width: 50%;
    margin: 0 auto 3em;
  }
}

@media (max-width: 21em) {
  a.navlink {
    padding: 1em;
  }
}
