
body {
  font-family: "Metal Mania", sans-serif;
  color: black;
  background-color: lightgray;
  max-width: 32em;
  min-width: 320px;
  margin: auto;
  text-align: center;
}

header, div#app, footer {
  padding: 0 2%;
}

/* The main drum app. */
main {
  background-color: hsl(0, 0%, 45%);
  padding: 2em;
  margin: 1.5em auto 2em;
  border: 0.4em double black;
  border-radius: 5%;
  box-shadow: 3px 3px 2px 0px black;
}

/* The section holding the display and the drum grid. */
section#drum-grid-section {
  height: 16em;
  position: relative;
  margin-top: 1.2em;
}

/* Displays the last played drum pad. */
div#display {
  color: pink;
  font-style: italic;
  font-size: 1.3em;
}

/* A 3x3 grid of drum pads. */
div#drum-grid {
  /* Anchor it to the bottom of parent container. */
  position: absolute;
  bottom: 0;
  width: 100%;

  /* There are 3 grid columns and 4 column gaps, including the edge gaps. */
  $column-gap: 8%;
  $column-width: (100% - $column-gap * 4) / 3;

  display: grid;
  grid-template-columns: repeat(3, $column-width);
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-evenly;
  grid-row-gap: 1em;
  padding: 1em 0;
}

/* The clickable drum pad button. */
button.drum-pad {
  font-family: "Metal Mania", sans-serif;
  font-size: 1.3em;
  color: pink;
  background-color: black;
  border: 0.4em outset hsl(0, 0%, 60%);
  border-radius: 0.3em;
}

button.drum-pad:hover,
button.drum-pad:focus {
  background-color: hsl(0, 0%, 27%);
  border-color: hsl(0, 0%, 72%);
}

button.drum-pad:disabled {
  color: hsl(0, 0%, 40%);
  background-color: hsl(0, 0%, 20%);
  border-color: hsl(0, 0%, 65%);
}

/* The slider/switch input elements. */
div.switch {
  clear: both;
  height: 3em;

  /* Description of the switch and its state. */
  p {
    float: left;
    color: black;
    font-weight: bold;

    span.state-desc {
      color: pink;
      font-weight: normal;
    }
  }

  /* The actual slider bar. */
  input.range-input {
    float: right;
    font-size: 1em;
    margin: 1.25em 0 0;
    width: 12%;
    height: 0.5em;
    -webkit-appearance: none;  /* Override default CSS styles. */
    appearance: none;
    background-color: crimson;
    border-radius: 50%;
  }

  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge)
     and -moz- (Firefox) to override default look). */
  @mixin slider-thumb() {
    width: 0.6em;
    height: 2em;
    background-color: black;
    border: none;
    border-radius: 50%;
  }

  input.range-input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look. */
    @include slider-thumb();
  }

  input.range-input::-moz-range-thumb {
    appearance: none;
    @include slider-thumb();
  }
}

div.slider {
  @extend .switch;

  input.range-input {
    width: 50%;
  }
}

/* Keyboard and mouse focus for all elements. */
:focus {
  outline: 4px dashed black;
}

/*************************
 ***   Media Queries   ***
 *************************/

@media (min-width: 80em) {
  html {
    font-size: 1.2em;
  }
}

@media (min-width: 100em) {
  html {
    font-size: 1.4em;
  }
}

@media (min-width: 120em) {
  html {
    font-size: 1.6em;
  }
}

@media (min-width: 140em) {
  html {
    font-size: 1.8em;
  }
}

@media (min-width: 160em) {
  html {
    font-size: 2em;
  }
}

@media (max-width: 31em) {
  div#drum-grid {
    /* Remove the two edge column gaps. */
    $column-gap: 8%;
    $column-width: (100% - $column-gap * 2) / 3;

    grid-template-columns: repeat(3, $column-width);
    justify-content: space-between;
  }

  div.switch {
    input.range-input {
      width: 15%;
    }
  }

  div.slider {
    input.range-input {
      width: 55%;
    }
  }
}
