
body {
  font-family: "Metal Mania", sans-serif;
  font-size: 16px;
  color: black;
  background-color: lightgray;
  max-width: 500px;
  min-width: 320px;
  margin: auto;
  text-align: center;
}

/* The container for the entire app. */
div#root {
  padding: 0 2%;
}

/* The main drum app. */
main {
  background-color: hsl(0, 0%, 45%);
  padding: 2em;
  margin: 1.5em auto 2em;
  border: 0.4em double black;
  border-radius: 5%;
  box-shadow: 3px 3px 2px 0px black;
}

/* The section holding the display and the drum grid. */
section#drum-grid-section {
  height: 16em;
  position: relative;
  margin-top: 1.2em;
}

/* Displays the last played drum pad. */
div#display {
  color: pink;
  font-style: italic;
  font-size: 1.3em;
}

/* A 3x3 grid of drum pads. */
div#drum-grid {
  /* Anchor it to the bottom of parent container. */
  position: absolute;
  bottom: 0;
  width: 100%;

  /* There are 3 grid columns and 4 column gaps, including the edge gaps. */
  $column-gap: 8%;
  $column-width: (100% - $column-gap * 4) / 3;

  display: grid;
  grid-template-columns: repeat(3, $column-width);
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-evenly;
  grid-row-gap: 1em;
  padding: 1em 0;
}

/* The clickable drum pad button. */
button.drum-pad {
  font-family: "Metal Mania", sans-serif;
  font-size: 1.3em;
  color: pink;
  background-color: black;
  border: 0.4em outset hsl(0, 0%, 60%);
  border-radius: 0.3em;
}

button.drum-pad:hover {
  background-color: hsl(0, 0%, 27%);
  border-color: hsl(0, 0%, 72%);
}

button.drum-pad:disabled {
  color: hsl(0, 0%, 40%);
  background-color: hsl(0, 0%, 20%);
  border-color: hsl(0, 0%, 65%);
}

/* The slider/switch input elements. */
div.switch {
  clear: both;
  height: 3em;

  /* Description of the switch and its state. */
  p {
    float: left;
    color: black;
    font-weight: bold;

    span.state-desc {
      color: pink;
      font-weight: normal;
    }
  }

  /* The actual slider bar. */
  input.range-input {
    float: right;
    font-size: 1em;
    margin: 1.25em 0 0;
    width: 10%;
    height: 0.5em;
    -webkit-appearance: none;  /* Override default CSS styles. */
    appearance: none;
    background-color: crimson;
    border-radius: 50%;
  }

  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge)
     and -moz- (Firefox) to override default look). */
  @mixin slider-thumb() {
    width: 0.6em;
    height: 2em;
    background-color: black;
    border: none;
    border-radius: 50%;
  }

  input.range-input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look. */
    @include slider-thumb();
  }

  input.range-input::-moz-range-thumb {
    appearance: none;
    @include slider-thumb();
  }
}

div.slider {
  @extend .switch;

  input.range-input {
    width: 50%;
  }
}

/*************************
 ***   Media Queries   ***
 *************************/

@media (max-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  body {
    font-size: 12px;
  }
}
