
/***   Variables.   ***/
/* Widths of both panels. */
$editor-section-width: 82%;
$preview-section-width: 96%;

/* Border and box shadow around both panels. */
$section-border: 3px solid black;
$section-box-shadow: 0.25em 0.25em 0.25em 0px darkgray;

body {
  font-family: Aldrich, monospace;
  font-size: 16px;
  color: black;
  background-color: AliceBlue;
  margin: 0;
  text-align: left;
  line-height: 1.2;
}

main {
  min-width: 321px;
  max-width: 1200px;
  margin: auto;
}

header, footer {
  text-align: center;
}

header#title, footer {
  width: $preview-section-width;
  margin: 1.5em auto;
  line-height: 1.3;
}

/* The header at the top of both panels. */
/* Contains an <h2> and a maximise <button>. */
header.section-header {
  $padding: 0.5em;

  background-color: lightsteelblue;
  padding: $padding;
  border-bottom: $section-border;
  position: relative;

  /* The panel title. */
  h2 {
    margin: 0.1em 0 0;
  }

  /* These are shades of SteelBlue. */
  $button-color: hsl(207, 44%, 49%);
  $button-border-color: hsl(207, 44%, 44%);

  $button-color-hover: hsl(207, 44%, 60%);
  $button-border-color-hover: hsl(207, 44%, 55%);

  /* The maximise <button>. */
  button.max-button {
    font-size: 1em;
    background-color: $button-color;
    border: 0.25em outset $button-border-color;
    position: absolute;
    right: $padding;
    top: $padding;
    bottom: $padding;
  }

  button.max-button:hover {
    background-color: $button-color-hover;
    border-color: $button-border-color-hover;
  }
}

/* The top panel holding the editor. */
section#editor-section {
  margin: auto;
  width: $editor-section-width;
  border: $section-border;
  box-shadow: $section-box-shadow;
}

/* The editor text area. */
textarea#editor {
  font-family: 'Share Tech Mono', monospace;
  font-size: 0.95em;
  color: azure;
  background-color: darkslategray;
  box-sizing: border-box;
  min-height: 100px;
  height: 35vh;
  width: 100%;
  margin: 0;
  padding: 1em;
  border: none;
}

/* The bottom panel holding the preview area. */
section#preview-section {
  margin: 3em auto 2em;
  width: $preview-section-width;
  border: $section-border;
  box-shadow: $section-box-shadow;
}

/* The actual preview area. */
div#preview {
  $preview-color: darkslategray;

  color: $preview-color;
  background-color: lavender;
  padding: 1em;

  /* Styles for the parsed markdown elements. */
  table {
    border-collapse: collapse;
  }

  th, td {
    padding: 0.25em;
  }

  table, th, td {
    border: 2px solid $preview-color;
  }

  pre, code {
    background-color: ghostwhite;
    padding: 2px;
    line-height: 1.3;
  }

  ul, ol {
    padding-left: 2em;
  }
}

/*************************
 ***   Media Queries   ***
 *************************/

@media (max-width: 370px) {
  body {
    font-size: 14px;
  }
}
