
body {
  font-family: Anton, sans-serif;
  color: black;
  background-color: mistyrose;
  box-sizing: border-box;
  min-width: 320px;
  padding: 0 1%;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 3em;
}

/* The main container holding the <svg> element. */
main#svg-container {
  position: relative;
  max-width: 1000px;
  margin: auto;
  background-color: lightpink;
  border: 1px solid darkmagenta;
  border-radius: 0.4em;
  box-shadow: 0px 0px 1.25em 0.5em gray;
}

/* The tooltip box. */
#tooltip {
  padding: 0.625em;
  background-color: palevioletred;
  border: 1px solid darkmagenta;
  border-radius: 0.3em;
  box-shadow: 0px 0px 0.3em 0.125em gray;
  pointer-events: none;
}

/* Overlay to highlight selected bar. */
#bar-overlay {
  pointer-events: none;
}

/* The axes elements. */
#x-axis, #y-axis {
  font-family: Anton, sans-serif;
  font-size: 1.6em;
  stroke-width: 3px;
}

/* The axes labels. */
#x-label, #y-label {
  font-size: 2.2em;
}

/*************************/
/***   Media Queries   ***/
/*************************/

@media (max-width: 800px) {
  #tooltip {
    font-size: 0.9em;
    padding: 0.5em;
  }
}

@media (max-width: 740px) {
  #tooltip {
    font-size: 0.8em;
  }
}

@media (max-width: 660px) {
  #tooltip {
    font-size: 0.7em;
    padding: 0.4em;
  }
}

@media (max-width: 560px) {
  #tooltip {
    font-size: 0.6em;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.5em;
  }

  #tooltip {
    font-size: 0.5em;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 2em;
  }

  #tooltip {
    font-size: 0.4em;
  }

  footer {
    font-size: 0.9em;
  }
}
