
@font-face {
 font-family: 'digital-clock';
 src: url('./fonts/digital-7-mono.ttf');
}

/* Color for the main app area. */
$main-color: hsl(240, 67%, 85%);

/* Colors for buttons in the main area. */
$main-button-border-color: hsl(240, 67%, 75%);
$main-button-hover-color: hsl(240, 67%, 93%);
$main-button-hover-border-color: hsl(240, 67%, 83%);

/* Color for the timer display area. */
$timer-color: hsl(300, 24%, 80%);

/* Colors for buttons in the timer area. */
$timer-button-border-color: hsl(300, 24%, 65%);
$timer-button-hover-color: hsl(300, 24%, 91%);
$timer-button-hover-border-color: hsl(300, 24%, 76%);

html {
  font-family: 'Passion One', sans-serif;
  font-size: 16px;
  color: $main-color;
  background-color: hsl(0, 0%, 20%);
  max-width: 400px;
  min-width: 320px;
  margin: auto;
  text-align: center;
}

body {
  margin: 0 2%;
}

/* The main app. */
main {
  font-size: 1.5em;
  background-color: black;
  margin: 1.5em 0;
  border: 5px solid $main-color;
  border-radius: 0.8em;
}

a {
	color: hsl(204deg 64% 65%);
}

a:visited {
	color: hsl(270deg 50% 75%);
}

button {
  font-size: 1em;
  background-color: $main-color;
  padding: 0.4em;
  border: 4px outset $main-button-border-color;
  border-radius: 0.4em;
}

button:hover {
  background-color: $main-button-hover-color;
  border-color: $main-button-hover-border-color;
}

button:active {
  border-style: inset;
}

/* Panel for updating session duration. */
div#session-update-container {
  float: left;
  width: 50%;
  margin-bottom: 2.5em;
}

/* Panel for updating break duration. */
div#break-update-container {
  float: right;
  width: 50%;
  margin-bottom: 2.5em;
}

/* Digital time displays. */
p#session-length, p#break-length, p#time-left {
  font-family: 'digital-clock';
  font-size: 1.5em;
  line-height: 1;
  margin: 1rem 0 1.5rem;
}

/* Timer display panel. */
div#timer-display {
  clear: both;
  color: $timer-color;
  width: 220px;
  margin: 0 auto 2em;
  border: 3px solid $timer-color;
  border-radius: 0.5em;
}

/* Session/break label in timer display. */
p#timer-label {
  margin: 1em 0 0;
}

/* Container for the start/reset buttons. */
div#start-reset-button-container {
  width: 130px;
  display: flex;
  justify-content: space-between;
  margin: 2em auto;
}

/* The start and reset buttons. */
button.start-reset-buttons {
  background-color: $timer-color;
  border-color: $timer-button-border-color;
}

button.start-reset-buttons:hover {
  background-color: $timer-button-hover-color;
  border-color: $timer-button-hover-border-color;
}
